.nav-link {
    color: azure;
    margin: 5px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.carousel-container{
    max-width: 700px;
    
}

.carousel-caption {
    backdrop-filter: blur(10px) saturate(180%);
    color:rgb(0, 0, 0);
    font-weight: bold;
    
}

.carousel-control-next {
    opacity: .99;
}

.carousel-control-prev {
    opacity: .99;
}

.modal-btn-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

body {
    background-image: url(./bookshelf.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0; /* Remove default margin to ensure full coverage */
    display: flex;
    align-items: center;
    justify-content: center;
}





