.nav-link {
    color: azure;
    margin: 5px;
}

.carousel {
    margin: 30px;
}

.carousel-caption {
    backdrop-filter: blur(16px) saturate(180%);
    color:rgb(0, 0, 0);
    font-weight: bold;
}

.carousel-control-next {
    opacity: .99;
}

.carousel-control-prev {
    opacity: .99;
}

.modal-btn-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}




